html,
body {
  font-family: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
    background: black;
  }
}

.mg-card {
  a {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    gap: 0.75rem;
  }

  p {
    margin: 0;
  }

  .mg-title {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Number of lines to clamp to */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; /* Adds an ellipsis (...) at the end of the truncated text */
    margin-block-start: 0.25rem;
  }

  p.mg-price {
    opacity: 0.6;
  }
}
